@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: white;
$color-dark: #131306;
$color-yellow: #B0973B;
$color-beige: #E6D4B3;
$color-ultra: #0A181F;
$color-blue: #324195;

$font-header: 'Montserrat', sans-serif;
$font-text: 'Raleway', sans-serif;
$font-logo: 'Oxygen', sans-serif;

$tag-fs1: 80%;
$tag-fs2: 90%;
$tag-fs3: 100%;
$tag-fs4: 110%;

$author-fs1: 80%;
$author-fs2: 90%;
$author-fs3: 100%;


/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.films {
  flex: 2 0 0;
}

.sidebar, .films {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: none;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;

    span {
      padding: 0 3px;
    }
  }
}

/* Authors */

a {
  text-decoration: none;
  color: $color-ultra;
}

a:hover {
  color: $color-yellow;
}

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* film */

.film {
  display: none;
  &.active {
    display: block;
  }
}

.film-author {
  font-style: italic;

  li {
    list-style: none;
  }
}

.film-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

.film-photo {
  
  img {
    object-fit: cover;
    max-width: 100%;
  }
}

/*tags list*/

.tag-size-1 {
  font-size: $tag-fs1;
}

.tag-size-2 {
  font-size: $tag-fs2;
}

.tag-size-3 {
  font-size: $tag-fs3;
}

.tag-size-4 {
  font-size: $tag-fs4;
}

.tag-size-5 {
  font-size: $tag-fs5;
}

/*authors list*/

.author-size-1 {
  font-size: $author-fs1;
}

.author-size-2 {
  font-size: $author-fs2;
}

.author-size-3 {
  font-size: $author-fs3;
}

.author-size-4 {
  font-size: $author-fs4;
}

.author-size-5 {
  font-size: $author-fs5;
}